
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  h1= page.title

block content
  a(href='/#toc' title="Go back to table of contents").contents Table of Contents

  if page
    h2= page.title
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) « Full blog


