---
title : Help without manpages
---
extends layout

block content
  .page-header
    h1 GIT FAQ
      small  Help without manpages.
    :markdown
        Want to answer or ask a question?
        Fork the [repository](https://github.com/jsoverson/gitfaq) or [open an issue](https://github.com/jsoverson/gitfaq/issues)!

    a(href="https://twitter.com/share" class="twitter-share-button" data-related="jsoverson" data-hashtags="gitfaq") Tweet
    script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    iframe(src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgitfaq.org%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=359580757494088" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true")

  div
    nav
      a(name='toc')
      ul
        each article in articles
          - console.log(article.title)
            li
              a(href="##{article.title}")= article.title

  each article in articles
    a(href='/#toc' title="Go back to table of contents").contents Table of Contents
    a(name=article.title)
    article.article.intro
      header
        h2
          a(href=article.url)= article.title
      section.content
        if article.intro.length > 0
          | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) more
    hr

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    if nextPage
      a(href=nextPage.url) Next page »



